<header class="border-bottom bg-light">
    <nav class="navbar navbar-expand-sm navbar-light container">
        <a class="navbar-brand fw-semibold" asp-page="/Admin/Index">
            Auris
        </a>

        <div class="navbar-nav">
            <a class="nav-link" asp-page="/Admin/Index">
                Admin
            </a>
        </div>
    </nav>
</header>